  .load_icon{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 67%);
    position: fixed;
    z-index: 1000;
    display: flex;
    visibility: hidden;
    z-index: 9999;
  }
  .load_icon>img{
    display: block; margin: auto;
    width: 210px;
  }